    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Grupo de Usuarios de Linux de la Universidad Carlos III de Madrid</title>
    <% path = case $0
        when "index.rb" : ""
        else "../"
        end %>
    <link href="<%= path %>general.css" rel="stylesheet" type="text/css" />
    <link href="<%= path %>announce.css" rel="stylesheet" type="text/css" />
    <link href="<%= path %>css.css" rel="stylesheet" type="text/css" />
    <link href="<%= path %>story.css" rel="stylesheet" type="text/css" />
    <link href="<%= path %>twitter.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Zeyada' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
