        <div class="title">
          <%= @story.title %>
        </div>
        <div class="date">
          <%= @story.updated %>
        </div>
        <div class="body">
          <%= @story.body %>
          <p>
            <% @story.pictures.each do |picture| %>
              <a href="<%= picture.path %>">
                <img src="<%= picture.thumbnail %>"/>
              </a>
            <% end %>
          </p>
        </div>
        <div class="expand fill_<%= @story.section.identifier %>" onclick="showMainStory();"></div>
