<html>
  <head>
    <title>Grupo de Usuarios de Linux de la Universidad Carlos III de Madrid</title>
    <link href="general.css" rel="stylesheet" type="text/css" />
    <link href="announce.css" rel="stylesheet" type="text/css" />
    <link href="css.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Zeyada' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="nav">
      <!--
      <a href="index.html">
        <img alt="" src="home.png" />
      </a>
      -->
      <% @sections.each do |category|
        id = category[:id]
        name = category[:name]
        color = category[:color]
      %>
        <div class="navitem" style="border-bottom: 3px solid <%= color %>">
          <%= name %>
        </div>          
      <% end %>
    </div>

    <div id="menubar">
      <div id="menu">
        <div class="logobox">
          <p id="hereweare">
            <a href="/">GUL UC3M</a>
          </p>
          <p id="slogan">
            Formación y difusión de software libre
          </p>
        </div>
        <div class="menubox">
          <h1>La asociación</h1>
          <ul>
            <li class="menuitem_gul"><a href="/gul/intro">¿Quiénes somos?</a></li>
            <li class="menuitem_gul"><a href="/gul/documentacion">Documentación</a></li>
            <li class="menuitem_gul"><a href="/gul/servicios">Servicios</a></li>
            <li class="menuitem_gul"><a href="/gul/wiki">Wiki</a></li>
          </ul>
        </div>
        <div class="menubox">
          <h1>Actividades</h1>
          <ul>
            <li class="menuitem_gul"><a href="/gul/correo">Listas de correo</a></li>
            <li class="menuitem_cursos"><a href="/cursos/intro">Jornadas técnicas</a></li>
            <li class="menuitem_hm"><a href="/hm/intro">HolaMundo Radio</a></li>
          </ul>
        </div>
        <div class="menubox">
          <h1>Miembros</h1>
          <ul>
            <li class="menuitem_gul"><a href="/gul/reuiones">Reuniones</a></li>
<!--        <li class="menuitem_gul"><a href="/gul/fichajes">Fichajes</a></li> -->
            <li class="menuitem_gul"><a href="http://planeta.gul.es">Planeta GUL</a></li>
          </ul>
        </div>
        <br />
      </div>
    </div>
      
    <div id="main">
      
      <% if @announce %>
        <div id="announce">
          <%= @announce %>
        </div>
      <% end %>
      
      <% story = @timeline.last %>

      <% section = section_for(story)[:id] %>
      <div id="mainstory" class="story_<%= section %>">
        <div class="title">
          <h1><%= story[:title] %></h1>
        </div>
        <div class="body">
          <%= story[:body] %>
        </div>
      </div>
      
      <div id="morestories">
        <div class="story story_gul">
          <%= twitter_for "guluc3m" %>
        </div>

        <div class="story story_hm">
          <%= twitter_for "holamundoradio" %>
        </div>                        

        <% story = get_story("cursos/1") %>

        <div class="story story_<%= section_name_for story %>">
          <div class="title"><%= story[:title] %></div>
          <div class="body"><%= story[:short] %></div>
        </div>

      </div>
      
    </div>
        
    <div id="fortunes">
      Aquí van las fortunes
    </div>
    
    <div id="footer">
      Última actualización: <%= Time.now %>
    </div>
  </body>
</html>
