<!DOCTYPE HTML>
<html>
  <head>
    <%= partial("head") %>
  </head>
  <body>
    <div id="nav">
      <!--
      <a href="index.html">
        <img alt="" src="home.png" />
      </a>
      -->
      <% @sections.each do |section| %>
        <div class="navitem" style="border-bottom: 3px solid <%= section.color %>">
          <%= section.name %>
        </div>          
      <% end %>
    </div>

    <div id="announce"></div>

    <%= partial("menu") %>

    <div id="main">
      <div> 
        <% headline = get_story("gul/headline1") %>
        <div class="intro">
          <h1>¿Por dónde empiezo?</h1>
          <div id="botonaco" onclick="showSubscribeForm();">
            Apúntate a la lista de correo
	        </div>
	        <div id="mlform">
	          <form method="POST" action="https://gul.uc3m.es/mailman/subscribe/gul">
                  <!--input id="mail" class="inputlight" type="text" name="email" size="25" value="Direcci&oacute;n de email"/>-->

              <input id="mail" class="inputlight" type="text" name="email" size="25" placeholder="Dirección de e-mail"/>
	            <input type="submit"/>
	          </form>
	          <p>
	          Esta suscripción es para la <a href="https://gul.uc3m.es/mailman/listinfo/gul">lista de correo GUL</a>. 
	          Ni te cobraremos ni te enviaremos publicidad. 
	          </p>
	        </div>
        </div>
  
        <% headline = get_story("gul/headline2") %>
        <div class="intro">
          <h1><%= headline.title %></h1>
          <p>
            <%= headline.body %>
          </p>
        </div>
      </div>

      <div id="mainstory" class="story_<%= @story.section.identifier %>">
        <%= partial("story") %>
      </div>
      
      <div id="morestories">

        <div class="story">
          <%= Twitter.for "guluc3m" %>
        </div>

        <div class="story">
          <%= Twitter.for "holamundoradio" %>
        </div>

        <div class="story">
          <h1>Noticias anteriores</h1>
          <ul>
            <% @timeline.reverse[1..-1].each do |story| %>
            <li class="menuitem_<%= story.section.identifier %>" >
              <a href="<%= story.path %>">
                <%= story.title %>
              </a>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <%= partial("footer") %>
  </body>
    <%= partial("javascript") %>
    <%= partial("fortunes") %>
</html>
