<html>
  <head>
    <%= partial("head") %>
  </head>
  <body>
    <div id="nav">
      <!--
      <a href="index.html">
        <img alt="" src="home.png" />
      </a>
      -->
      <% @sections.each do |category|
        id = category[:id]
        name = category[:name]
        color = category[:color]
      %>
        <div class="navitem" style="border-bottom: 3px solid <%= color %>">
          <%= name %>
        </div>          
      <% end %>
    </div>

    <%= partial("menu") %>  
 
    <div id="main">
      
      <% if @announce %>
        <div id="announce">
          <%= @announce %>
        </div>
      <% end %>
     
      <div> 
        <% headline = get_story("gul/headline1") %>
        <div class="intro">
          <h1>¿Por dónde empiezo?</h1>
          <div id="botonaco" onclick="window.location='https://gul.uc3m.es/mailman/listinfo/gul'">
            Apúntate a la lista de correo
	        </div>
        </div>
  
        <% headline = get_story("gul/headline2") %>
        <div class="intro">
          <h1><%= headline[:title] %></h1>
          <p>
            <%= headline[:body] %>
          </p>
        </div>
      </div>

      <% story = @timeline.last %>

      <% section = section_for(story)[:id] %>

      <div id="mainstory" class="story_<%= section %>">
        <div class="title">
          <%= story[:title] %>
        </div>
        <div class="body">
          <%= story[:body] %>
        </div>
      </div>
      
      <div id="morestories">

        <div class="story">
        <!--
          <h1>Noticias anteriores</h1>
          <ul>
            <% @timeline.reverse[1..-1].each do |story| %>
            <li class="menuitem_<%= story[:section] %>" >
              <a href="<%= story[:path] %>">
                <%= story[:title] %>
              </a>
            </li>
            <% end %>
          </ul>
          -->
        </div>

        <div class="story">
          <%= twitter_for "guluc3m" %>
        </div>

        <div class="story">
          <%= twitter_for "holamundoradio" %>
        </div>                        

      </div>
      
    </div>
        
    <div id="fortunes">
<!--      Aquí van las fortunes -->
    </div>
    
    <div id="footer">
      Última actualización: <%= Time.now %>
    </div>
  </body>
</html>
