<html>
  <head>
    <%= partial("head") %>  
  </head>
  <body>
    <div id="nav">
      <!--
      <a href="index.html">
        <img alt="" src="home.png" />
      </a>
      -->
      <% @sections.each do |section| %>
        <div class="navitem" style="border-bottom: 3px solid <%= section.color %>">
          <%= section.name %>
        </div>          
      <% end %>
    </div>
      
    <%= partial("menu") %>  
      
    <div id="main">
      
      <% if @announce %>
        <div id="announce">
          <%= @announce %>
        </div>
      <% end %>
      
      <div id="mainstory" class="story_<%= @story.section.identifier %>">
        <div class="title">
          <%= @story.title %>
        </div>
        <div class="body">
          <%= @story.body %>
        </div>
      </div>  
      
      <% remaining_timeline = @timeline.select { |story| story.identifier != @story.identifier } %>

<!--
      <% if remaining_timeline.size > 0 %>
        <div class="more_in_section">
          <h1>
            Relacionadas:
          </h1>
          <ul>
          <% remaining_timeline.each do |story| %>
            <li class="menuitem_<%= story.section.identifier %>">
            <a href="<%= story.path %>">
              <%= story.title %>
            </a>
            </li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
-->        
    <div id="fortunes">
<!--      Aquí van las fortunes -->
    </div>
    
    <div id="footer">
      Última actualización: <%= Time.now %>
    </div>
  </body>
</html>
